.formBg{
  background: #2c3E50;
background: -webkit-linear-gradient(to right,#2c3E50 , #000000); 
background: linear-gradient(to right, #2c3E50,#000000 ); 

}
body{
  background: #485563;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.form{
  box-shadow: inset 2px -4px 4px #6d676771;
}

